*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 5px;
    box-sizing: border-box;

    .conteudo-topo > h1{
        font-size: 40px;
        text-align: center;
        background-color: lightgreen;
        padding: 15px;
    }
    .conteudo-topo > h2{
        font-size: 35px;
        text-align: center;
        margin: 20px;
        padding: 0;
    }
    .conteudo-topo > p{
        font-size: 20px;
        text-align: justify;
        margin: 0;
        padding: 0;
    }
    .conteudo-topo > ul{
        font-size: 20px;
        text-align: justify;
        margin: 0;
        padding: 20px;
    }
    .conteudo-principal > h2{
        font-size: 35px;
        padding: 15px;
    }
    .bebida{
        display: flex;
        border: lightgreen solid 5px;
        border-radius: 30px;
    }
    .bebida > img{
        width: 350px;
        height: 225px;
        border-radius: 25px;
    }
    h3{
        font-size: 30px;
        padding: 15px;
    }
    .bebida > p{
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: justify;
        padding: 10px;
        margin: 10px;
    }
    #mocha{
        width: 335px;
        height: 323px;
        border-radius: 25px;
    }
    #cappucino{
        width: 335px;
        height: 275px;
        border-radius: 25px;
    }
    #macchiato{
        width: 450px;
        height: 250px;
        border-radius: 25px;
    }
    footer{
        font-size: 19px;
        text-align: center;
        background-color: lightgreen;
        padding: 40px
    }
    .Perfil{
        margin: 75px;
        padding: 0;
        border: lightgreen solid 5px;
        border-radius: 50px;
        text-align: center;
    }
    .Perfil > h1{
        font-size: 40px;
    }
    .Perfil > img{
        width: 300px;
        height: 225px;
        border-radius: 40px;
    }
    #github-img{
        width: 75px;
        height: 75px;
    }

}